.a{
background-color: #0099ff;
height: 40px;
}
.b{
    margin: 10px;
}
.c{
    background-color: #0099ff;
height: auto;

}
.d{
    height: 300px;
    width: auto;
    border-radius: 200px;}
.l
{
    padding: 10px;
 
    text-align: end;
    
}